:root {
  --primary-color: pink;
  --primary-dark: black;
  --primary-light: white;
  --transition: all 0.3s ease-in;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.295);
  --radius: 0.2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}
body {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: var(--primary-light);
  width: 70%;
  max-width: 400px;
  margin: 50px auto;
  padding: 2rem;
  border-radius: var(--radius);
}
.item {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.5rem;
  border-bottom: 1px solid var(--primary-color);
}
img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
}
.btn {
  cursor: pointer;
  display: block;
  margin: 1rem auto;
  background-color: var(--primary-color);
  color: var(--primary-light);
  border: transparent;
  font-size: 1rem;
  padding: 0.4rem 1.2rem;
  transition: var(--transition);
  box-shadow: transparent;
  border-radius: var(--radius);
  width: 80%;
}

.btn:hover {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  // box-shadow: var(--box-shadow);
}
