:root {
  --primary-dark: #38457a;
  --primary-light: #eaedfd;
  --primary-medium: #5267a7;
  --secondary-light: #eaedfd;
  --secondary-medium: #fab253;
  --secondary-dark: #e09711;
  --accent: #e296f5;
  --accent-hover: #df7bf8;
  --primary-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  --transition: all 0.4s ease-in;
  --box-shadow: inset 0px 0px 1px 1px #201d1d81;
  --light-shadow: 0px 1px 4px #efefe9;
  --radius: 0.5rem;
  --small-radius: 0.3rem;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  color: var(--primary-light);
  font-family: var(--primary-font);
  background-image: url(../img/abstract-258338_1920.png);
  background-position: center;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.linking {
  font-size: 2rem;
}

i {
  margin-right: 1rem;
}

.navbar {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.nav-links {
  display: none;
  text-align: center;
}

.link {
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.link:hover {
  color: var(--secondary-medium);
}

.sign-in-btn {
  display: none;
  white-space: nowrap;
  margin-left: auto;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  white-space: nowrap;
  text-shadow: var(--light-shadow);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.logo span {
  color: var(--accent);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.logo:hover {
  color: white;
}

.logo:hover span {
  color: var(--accent-hover);
}

.submenu {
  display: none;
}

.btn {
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: var(--small-radius);
  color: var(--primary-dark);
  border: transparent;
  background-color: var(--secondary-dark);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  color: var(--secondary-light);
}

.btn:hover {
  background-color: var(--secondary-medium);
}

.sidebar-btn {
  display: block;
}

.hero {
  width: 90%;
  height: 60%;
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.text {
  margin: 2rem auto;
}

.image {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #eaedfd70;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.side-links {
  position: relative;
  width: 80%;
  border-radius: var(--radius);
  margin: auto;
  margin-top: 3rem;
  height: 80vh;
  background-color: var(--primary-light);
  color: var(--primary-dark);
  padding: 2rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.side-links ul {
  display: block;
  width: 100%;
  margin-top: 1rem;
  font-weight: 600;
}

.side-links ul li {
  width: 100%;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.side-links ul li a {
  text-decoration: none;
  color: var(--primary-medium);
  margin-top: 0.5rem;
  font-size: 0.8rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.side-links ul li a:hover {
  color: var(--primary-dark);
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background-color: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 900;
  color: red;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.close-btn:hover {
  color: var(--primary-dark);
}

@media screen and (min-width: 700px) {
  .hero {
    width: 80%;
    max-width: 1100px;
    height: 500px;
    place-items: center;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    margin: 0 auto;
    grid-gap: 2rem;
  }
  .image {
    display: block;
    width: 100%;
    padding: 3rem;
  }
  .image img {
    width: 100%;
    max-height: 500px;
    border-radius: var(--radius);
  }
  .sidebar-btn {
    display: none;
  }
  .navbar {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-links ul li {
    position: relative;
    list-style: none;
  }
  .link {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    color: var(--primary-light);
  }
  .sign-in-btn {
    display: block;
  }
  .submenu {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    padding: 1rem;
    color: var(--primary-light);
    background-color: var(--secondary-dark);
    top: 4rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    grid-gap: 1rem;
    border-radius: var(--radius);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    z-index: 1;
  }
  .sub-links {
    display: -ms-grid;
    display: grid;
    white-space: nowrap;
    grid-gap: 1rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .sub-links.col-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .sub-links.col-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .sub-links.col-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .sub-link a {
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--primary-light);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .sub-link a:hover {
    color: var(--primary-medium);
  }
  .sidebar {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */