:root {
  --primary-dark: #38457a;
  --primary-light: #eaedfd;
  --primary-medium: #5267a7;
  --secondary-light: #eaedfd;
  --secondary-medium: #fab253;
  --secondary-dark: #e09711;
  --accent: #d64d0d;
  --accent-hover: #ca1d1d;
  --primary-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  --transition: all 0.4s ease-in;
  --box-shadow: 0px 0.5px 5px 0px #201d1d81;
  --light-shadow: 0px 1px 4px 0px #efefe9;
  --radius: 0.5rem;
  --small-radius: 0.3rem;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  color: var(--primary-dark);
  font-family: var(--primary-font);
  background-color: var(--primary-light);
}

.container {
  width: 90%;
  max-width: 600px;
  min-height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar {
  width: 100%;
  background-color: var(--secondary-dark);
  color: var(--primary-light);
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.logo span {
  color: var(--accent);
}

.nav-icon {
  position: relative;
}

.icon {
  font-size: 1.6rem;
}

.total-amount {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  text-align: center;
  top: -0.2rem;
  right: -1.5rem;
  position: absolute;
  background-color: var(--secondary-medium);
}

.cart-container {
  width: 100%;
}

.cart-container h1 {
  text-align: center;
}

.cart-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image {
  width: 100px;
  height: 100px;
}

.image img {
  width: 100%;
  height: 100%;
}

.btn-container {
  width: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--secondary-dark);
  border-radius: 3rem;
  overflow: hidden;
  color: var(--primary-light);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.amount {
  height: 1.8rem;
  line-height: 1.8rem;
}

.arrow {
  width: 2rem;
  height: 1.5rem;
  text-align: center;
  border: transparent;
  background-color: var(--secondary-dark);
  color: var(--primary-light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.arrow:hover {
  background-color: var(--secondary-medium);
}

.up {
  border-bottom: 1px solid var(--primary-light);
}

.down {
  border-top: 1px solid var(--primary-light);
}

.info {
  line-height: 1.8rem;
}

.info-remove {
  color: var(--secondary-dark);
  background-color: transparent;
  border: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.info-remove:hover {
  color: var(--secondary-medium);
}

.line {
  display: block;
  width: 100%;
  margin: 2rem auto;
  height: 2px;
  background-color: var(--secondary-dark);
}

.total-price-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clear-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem;
}

.clear-btn {
  color: var(--accent);
  background-color: transparent;
  padding: 0.3rem 1rem;
  font-variant: small-caps;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  margin: auto;
  border: 1px solid var(--accent);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.clear-btn:hover {
  color: var(--primary-light);
  background-color: var(--accent);
}
/*# sourceMappingURL=index.css.map */